.footer {
    background-color: #fff;
    padding: 25px;
    text-align: center;
    margin-top: auto;

    span {
        line-height: 1.5em;

        i {
            color: #ee4f4f;
        }
    }
}