.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__img-wrapper {
        z-index: 2;
        max-height: 90vh;
        max-width: 90%;
        position: relative;
    }

    &__img {
        max-height: 90vh;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.15);
        animation: fadeIn 0.15s normal linear;

        &--hidden {
            display: none;
        }
    }

    &__back {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(50, 59, 67, 0.8);
    }

    &__close {
        z-index: 2;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        overflow: hidden;

        &::before, &::after {
            content: '';
            position: absolute;
            height: 0.25rem;
            margin-top: -0.125rem;
            width: 100%;
            top: 50%;
            left: 0;
            background: #fff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &--hidden {
        display: none;
    }
}

@media (min-width: 320px) {
    .popup {
        &__close {
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
        }
    }
}

@media (min-width: 768px) {
    .popup {
        &__close {
            right: 20px;
            top: 20px;
            width: 35px;
            height: 35px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}