.spinner {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: rgb(255, 255, 255);
    animation: spin 1s infinite linear;

    &--hidden {
        display: none;
    }
}

@media (min-width: 320px) {
    .spinner {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 768px) {
    .spinner {
        width: 35px;
        height: 35px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}