// Breakpoints
// 320px
// 768px
// 1024px
// 1600px

html {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #323b43;
}

body {
    background-color: #f4f7f9;
}

.body-no-scroll {
    overflow-y: hidden;
}

@import './components/container.scss';
@import './components/footer.scss';
@import './components/gallery-item.scss';
@import './components/gallery.scss';
@import './components/info.scss';
@import './components/popup.scss';
@import './components/spinner.scss';

